/* ---------- CUSTOM PROPERTIES ----------*/
:root {
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-300: #979797;
  --clr-neutral-800: #1B1937;
  --clr-neutral-900: #000000;
  --clr-accent: #aa5cdb;
  --gap-sm: 1rem;
  --gap-med: 2rem;
  --gap-lg: 3rem;
  --border-radius: .5rem;
  --size-sm: 375px;
  --size-lg: 1440px;
  color-scheme: dark;
}
/* ---------- RESET ----------*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  font-size: 16px;
}

html, body, div, main, section, h1, p, h3, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.75;
  color: var(--clr-neutral-300);
  background-color: var(--clr-neutral-900);
}

/* ---------- TYPOGRAPHY ----------*/
h1 {
  font-size: clamp(1.75rem, 1.5739rem + 0.7512vw, 2.25rem);
  line-height: 1.2;
}

h1,
.numbers {
  font-weight: 700;
}

h1,
.numbers {
  color: var(--clr-neutral-100);
}

.attribute {
  color: var(--clr-accent);
}

h3 {
  font-family: 'Lexend Deca', sans-serif;
  text-transform: uppercase;
  line-height: 1.4;
}

.numbers {
  display: block;
  font-size: 1.5rem;
}

/* ---------- LAYOUT ----------*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: clamp(264px, 75%, 1110px);
  border-radius: var(--border-radius);
  background-color: var(--clr-neutral-800);
}

h1,
p,
h3 {
  margin-top: var(--gap-med);
}

h3:last-of-type {
  margin-bottom: var(--gap-med);
}

/* ---------- COMPONENTS ----------*/
.hero-overlay {
  background-color: #AB5CDB;
}

.hero {
  width: 100%;
  mix-blend-mode: multiply;
}

.hero,
.hero-overlay {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

/* ---------- MEDIA QUERIES ----------*/
@media (min-width: 1000px) {
  .card {
    display: flex;
  }
  .hero-overlay {
    order: 1;
  }
  .hero-overlay,
  main {
    flex: 50% 1 1;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: var(--gap-lg);
    text-align: left;
  }
  .stats {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-med);
    width: 100%;
    margin-top: var(--gap-med);
  }
  main,
  .stats {
    max-width: 403px;
  }
  .hero,
  .hero-overlay {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}